# Java
*.class
*.jar
*.war
*.ear
*.log

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle (caso use)
/build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Eclipse / STS
.settings/
.project
.classpath
.apt_generated/
.factorypath
.springBeans
.sts4-cache/
.metadata/
bin/

# IntelliJ (caso abra no IntelliJ também)
.idea/
*.iml
*.ipr
*.iws
out/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code (caso use)
.vscode/

# Arquivos temporários
*.tmp
*.swp
*~

